@import url("https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap");

@font-face {
  font-family: TASAExplorer-Regular;
  src:url("/TASAExplorer-Regular.otf");
}

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(180deg, #FFFDD1 -12.21%, #FFFDD1 15.82%, rgba(255, 253, 209, 0.34) 53.05%, rgba(255, 253, 209, 0.01) 71.87%, rgba(255, 253, 209, 0.00) 71.88%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 7px;
  transition: all 0.2s cubic-bezier(.6,.6,0,.1);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: #F0EEC5;
  transition: all 0.2s cubic-bezier(.6,.6,0,.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #B9B799;
  transition: all 0.2s cubic-bezier(.6,.6,0,.1);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background: #8E8D75;
  transition: all 0.2s cubic-bezier(.6,.6,0,.1);
}

*::selection {
  background: #F0EEC5;
  color: #000;
}
