$bg: #FFFDD1;
$text: #11382A;
$accent: #45FFBD;
$spacing: 30px;
$spacing0_5: 15px;
$spacing2: 60px;
$font: "TASAExplorer-Regular", sans-serif;
$font2: "Satoshi", sans-serif;
$transition: all 0.2s cubic-bezier(.6,.6,0,.1);

.main{
    background-color: $bg;
    padding: $spacing $spacing2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    h1{
        margin: $spacing2 0 $spacing 0;
        font-family: $font2;
        color: $text;
        text-align: center;
        font-weight: 500;
        font-size: 3.5rem;
    }
    p{
        width: min(700px, 100%);
        font-family: $font2;
        line-height: 1.8;
        text-align: center;
        margin: 0 auto;
        color: $text;
        font-size: 1.2rem;
        font-weight: 400;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $spacing;
        margin-bottom: $spacing;
    }

    a{
        text-decoration: none;
        color: $text;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: $spacing;
        width: fit-content;
        svg{
            margin-right: 0;
            transition: $transition;
        }

        &:hover{
            svg{
                margin-right: $spacing0_5;
                transition: $transition;
            }
        }
    }
}

.media{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: $spacing;
    margin-bottom: $spacing2;   
    &__item{
        position: relative;
        background-color: transparent;
        border: 1px solid #c0c0c0;
        border-radius: $spacing0_5;
        overflow: hidden;
        width: 100%;
        height: 500px;
        transition: $transition;
        &:hover{
            transform: scale(1.02);
            cursor: pointer;
            transition: $transition;
        }

        &Text{
            & h2, & p{
                color: $bg;
                font-family: $font2;
                text-align: left;
            }
            & p{
                opacity: 0.4;
            }
            &Wrapper{
                position: absolute;
                z-index: 2;
                left: 0;
                bottom: 0;

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                gap: $spacing0_5;
                background-color: rgba($text, 0.7);
                width: 100%;
                height: 100%;
                padding: $spacing;

                & > img{
                    object-fit: cover;
                    height: 70px;
                    min-width: 70px;
                    width: auto;
                    overflow: hidden;
                    border-radius: $spacing0_5;
                }
            }
        }
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            z-index: inherit;
        }
    }
}

@media (max-width: 768px){
    .main{
        width: 100%;
        padding: $spacing2 $spacing;
        h1{
            font-size: 2rem;
            width: 100%;
        }
        p{
            font-size: 1rem;
            width: 100%;
        }
        button{
            font-size: 1rem;
            padding: 10px 20px;
        }
    }

    .media{
        &__item{
            height: 400px;

            &Text{
                & h2{
                    font-size: 1.5rem;
                }
                & p{
                    font-size: 1rem;
                }
                
                &Wrapper{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-end;
                    
                }
            }
        }
    }
}